<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/css/aos.css">
  <link href="/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/style.css">
    <title>Presidents</title>
</head>
<body>
<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <div class="site-logo"><a href="index.html">Stamina<span>.</span> </a></div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Home</a></li>
              <li><a href="#classes-section" class="nav-link">Teams</a></li>
              <li><a href="#schedule-section" class="nav-link">Players</a></li>
              <li><a href="#trainer-section" class="nav-link">Presidents</a></li>
              <li><a href="#services-section" class="nav-link">Contact</a></li>
              <li><a href="#contact-section" class="nav-link">Sign in</a></li>
            </ul>
          </nav>
          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
        </div>

      </div>
    </div>

  </header>
<!-- Start of President section-->
      <div class="site-section" id="trainer-section">
  <div class="container">
    <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
      <div class="col-md-8  section-heading">
        <span class="subheading">Trainer</span>
        <h2 class="heading mb-3">Our Trainers</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="">
        <div class="person">
          <img src="images/person_1.jpg" alt="Free website template by Free-Template.co" class="img-fluid">
          <h3>Justin Daniel</h3>
          <p class="position">Trainer</p>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts.</p>
        </div>
      </div>
      <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="person">
          <img src="images/person_3.jpg" alt="Free website template by Free-Template.co" class="img-fluid">
          <h3>Matthew Davidson</h3>
          <p class="position">Trainer</p>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts.</p>
        </div>
      </div>
      <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="person">
          <img src="images/person_2.jpg" alt="Free website template by Free-Template.co" class="img-fluid">
          <h3>Matthew Davidson</h3>
          <p class="position">Trainer</p>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts.</p>
        </div>
      </div>
      <div class="col-lg-3 mb-4 mb-lg-0 col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
        <div class="person">
          <img src="images/person_4.jpg" alt="Free website template by Free-Template.co" class="img-fluid">
          <h3>Matthew Davidson</h3>
          <p class="position">Trainer</p>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End of President section-->


<!--Start of footer section-->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-dark">About Stamina</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>

      <div class="col-md-3 ml-auto">
        <h3 class="text-dark">Links</h3>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">Trainer</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3 class="text-dark">Subscribe</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        </p>
        <form action="#">
          <div class="d-flex mb-5">
            <input type="text" class="form-control rounded-0" placeholder="Email">
            <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
          </div>
        </form>
      </div>

    </div>

    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class=" pt-5">
          <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="copyright"><small>&copy;
            <script>document.write(new Date().getFullYear());</script> Stamina. All Rights Reserved. Design by <a
                    href="https://free-template.co" target="_blank">Free-Template.co</a></small></p>
        </div>
      </div>

    </div>
  </div>
</footer>
<!--End of footer section-->


</div>

</body>
</html>